.project-item {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: #edeeef;
}

html::-webkit-scrollbar-thumb {
  background: #3e75cf;
  border-radius: 5px;
}


@media (max-width: 1980px) {
  .card {
    max-width: 288px;
  }
}

@media (max-width: 773px) {
  #home {
    height: 100vh;
    margin-bottom: 500px;
  }
}

@media (max-width: 677px) {
  #home {
    margin-bottom: 400px;
  }
}

@media (max-width: 587px) {
  #home {
    margin-bottom: 300px;
  }
}

@media (max-width: 400px) {
  #home {
    margin-bottom: 200px;
  }
}