* {
    margin: 0px;
    padding: 0px;
}


/* start nav */

.logo {
    width: 100px;
    height: 60px;
    margin-top: 10px;
    margin-left: 30px;
}

.brand_name {
    position: relative;
    top: -50px;
    left: 75px;
    font-family: lobster;
    font-size: 17px;
}

.navbar ul {
    float: right;
}

.nav_brand {
    display: inline-block;
}

.navbar ul li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 15px;
}

@font-face {
    font-family: lobster;
    src: url(../Lobster/Lobster-Regular.ttf);
}

.cart {
    position: relative;
    top: -13px;
    left: -7px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 1px 4px 1px 4px;
}

.navbar ul li a:hover {
    color: #449ec4;
    display: inline-block;
    transform: translate(4px, -5px);
    transition-duration: 0.4s;
}

.navbar {
    height: 80px;
}


/* start background */

.c3 {
    width: 100%;
}

.background_text {
    position: absolute;
    top: 280px;
    left: 110px;
}

.topic {
    font-family: lobster;
    font-weight: unset;
    margin-bottom: 20px;
}

.shop_button {
    padding: 5px 8px;
    margin-top: 15px;
    border: 1px solid #16aae1;
    border-radius: 10%;
    color: #16aae1;
}

.shop_button:hover {
    color: white;
    background-color: #16aae1;
}

.shop_text {
    line-height: 25px;
}


/* start latest product */

.product_header {
    text-align: center;
    margin-top: 50px;
}

.line {
    width: 100px;
    margin: auto;
    margin-top: 10px;
    border: 1px solid #16aae1;
    background-color: #16aae1;
}

.product {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    gap: 40px;
    text-align: center;
    line-height: 23px;
}

.product_image {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 3px #000000a1;
}

.product button {
    padding: 10px 25px;
    border: 1px solid #e1ecee;
    border-radius: 15px;
    background-color: #e1ecee;
}

.product button:hover {
    color: #16aae1;
    cursor: pointer;
}


/* start about */

.about {
    background-image: url(../images/f10.jpg);
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.about div hr {
    width: 30px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* start packaging */

.packaging {
    margin-left: 100px;
}

.pk {
    float: left;
    width: 40%;
    margin-top: 30px;
    margin-right: 50px;
}

.pk_text {
    float: right;
    margin-top: 30px;
    margin-right: 60px;
    width: 50%;
    text-align: justify;
    line-height: 30px;
}

.pk_text p {
    margin: 15px 0;
}

.fa-circle-arrow-right {
    margin-right: 10px;
}

.clear {
    clear: both;
}


/* start service */

.service {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #e1ecee;
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.para {
    display: inline-block;
    margin-left: 20px;
    line-height: 30px;
}

.service div {
    margin: auto;
}


/* start footer */

.footer {
    background-color: #212529;
    color: #ffffff8c;
}

.footer_nav {
    text-decoration: none;
    color: #ffffff8c;
    display: inline-block;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer_icon {
    display: inline-block;
    color: #ffffff8c;
    margin: 20px 10px 30px;
}

.footer p {
    word-spacing: 5px;
}


/* start contact */

.contact {
    background-color: #e1ecee;
    text-align: center;
    padding: 50px;
}

.contactus {
    display: grid;
    grid-template-columns: 235px 235px 235px 235px;
    text-align: center;
    margin: 80px 215px;
    column-gap: 50px;
}

.contactus div {
    background-color: #f6f7f7;
    padding: 30px;
    line-height: 25px;
    border-radius: 5px;
}

.contactus div p {
    font-weight: bold;
}


/* start message */

.message {
    display: grid;
    grid-template-columns: 500px auto;
    margin-left: 215px;
    margin-right: 215px;
    column-gap: 50px;
}

.message div form input {
    width: 100%;
    height: 35px;
}

#message {
    width: 100%;
    height: 100px;
}

.contact_label {
    margin-top: 20px;
    display: inline-block;
}

.send {
    float: right;
    margin-top: 20px;
    padding: 10px 20px;
}